.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.title {
    font-family: 'Bebas Neue', cursive;
}

.text {
    font-family: 'Roboto', sans-serif;
}

.gif {
    padding: 0.2em;
}

.hidden{
    display: none;
}